:root {
  --lightbg: #fff;
  --highlightbg: #f8f8f8;
  --gradientbg: linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);
  --mainfont: 'Lato', sans-serif;
  --titlefont: 'Arvo', serif;
  --secondary-text: #777;
  --title-text: #444;
  --highlight: #e27730;
  --highlight-hover: #cd631d; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: var(--mainfont);
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-text); }

h1,
h2,
h3 {
  margin: 0; }

a {
  text-decoration: none; }

body {
  background-color: var(--lightbg); }

section .container {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

section.highlightbg {
  background-color: var(--highlightbg); }

section.gradientbg {
  background-color: var(--gradientbg); }

#header .cta {
  margin-top: 50px;
  max-width: 630px;
  text-align: center;
  font-size: 20px;
  line-height: 28px; }
  #header .cta p {
    opacity: 0.8; }
  #header .cta .cta-btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 50px 0; }
    #header .cta .cta-btn-wrapper .cta-btn {
      display: inline-block;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      text-align: center;
      background-color: #fff;
      border: 1px solid #ddd;
      color: var(--secondary-text);
      border-radius: 3px;
      padding: 20px 85px; }
    #header .cta .cta-btn-wrapper .primary-action {
      background-color: var(--highlight);
      border: 1px solid rgba(0, 0, 0, 0.2);
      color: #fff;
      padding: 20px 58px;
      transition: all .1s ease-in-out; }
      #header .cta .cta-btn-wrapper .primary-action:hover {
        background-color: var(--highlight-hover); }
  #header .cta h1 {
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--title-text);
    position: relative;
    padding-bottom: 22px; }
    #header .cta h1 .pro {
      position: absolute;
      margin: 0 0 0 3px;
      bottom: 64.52%; }

#header .video a {
  display: grid;
  grid-template: "container";
  place-items: center;
  place-content: center;
  margin: 0 0 -270px 0;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  overflow: hidden; }
  #header .video a img {
    grid-area: container;
    max-width: 100%; }

#large-features .container {
  margin-top: 367px; }

#large-features .features {
  width: 100%;
  border: 1px red solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly; }
  #large-features .features .feature {
    line-height: 24px;
    max-width: 250px;
    border: 1px solid blue;
    text-align: center; }
    #large-features .features .feature img {
      width: 48px;
      height: 48px; }
    #large-features .features .feature h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: var(--title-text); }
