// CSS Custom Properties.
:root {
	--lightbg: #fff;
	--highlightbg: #f8f8f8;
	--gradientbg: linear-gradient(180deg, #f8f8f8 0%, #fff 100%);
	--mainfont: 'Lato', sans-serif;
	--titlefont: 'Arvo', serif;
	--secondary-text: #777;
	--title-text: #444;
	--highlight: #e27730;
	--highlight-hover: #cd631d;
	--link-text: #036aab;
	--features-border: 1px solid #ddd;
}

// Basic CSS Reset.
*, *::before, *::after {
  box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: var(--mainfont);
	font-weight: 400;
	font-size: 16px;
	color: var(--secondary-text);
}
h1,
h2,
h3 {
	margin: 0;
}
a[role="button"] {
	text-decoration: none;
}

// Layout styles.
body {
	background-color: var(--lightbg);
}
section {
	&.highlightbg {
		background-color: var(--highlightbg);
	}

	&.gradientbg {
		background-image: var(--gradientbg);
	}
	
	.container {
		max-width: 1000px;
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
	}	
}

// Header styles.
#header {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.cta {
			margin-top: 50px;
			max-width: 630px;
			text-align: center;
			font-size: 20px;
			line-height: 28px;

			p {
				opacity: 0.8;
			}

			h1 {
				font-family: 'Arvo';
				font-weight: 400;
				font-size: 48px;
				line-height: 59px;
				color: var(--title-text);
				position: relative;
				padding-bottom: 22px;

				.pro {
					position: absolute;
					margin: 0 0 0 3px;
					bottom: 64.52%;
				}
			}
		}
	}

	.video a {
		display: grid;
		grid-template: "container";
		place-items: center;
		place-content: center;
		margin: 0 0 -270px 0;
		box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
		border-radius: 6px;
		overflow: hidden;

		img {
			grid-area: container;
			max-width: 100%;
		}
	}
}

// Large features grid.
#large-features {
	.container {
		margin-top: 370px;
	}

	.features {
		.feature:nth-child(1) {
			border-left: none;

			.feature-content {
				margin: 0 auto 0 0;
				padding-bottom: 50px;
			}
		}

		.feature:nth-child(2) {
			.feature-content {
				padding-bottom: 50px;
			}
		}

		.feature:nth-child(3) {
			.feature-content {
				margin: 0 0 0 auto;
				padding-bottom: 50px;
			}
		}

		.feature:nth-child(4) {
			border-left: none;
			border-bottom: none;

			.feature-content {
				margin: 0 auto 0 0;
				padding-top: 50px;
			}
		}

		.feature:nth-child(5) {
			border-bottom: none;

			.feature-content {
				padding-top: 50px;
			}
		}

		.feature:nth-child(6) {
			border-bottom: none;

			.feature-content {
				margin: 0 0 0 auto;
				padding-top: 50px;
			}
		}
	}
}

// Testimonials.
#testimonials {
	.container {
		margin-top: 100px;
		padding-top: 100px;

		.testimonials-wrapper {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			gap: 50px;

			.testimonial {
				padding: 30px;
				background-color: #fff;
				border: 1px solid #ddd;
				border-radius: 6px;
				flex-basis: 33.33%;

				p {
					font-size: 16px;
					line-height: 24px;
				}

				p::before {
					content: "“";
				}
				p::after {
					content: "”";
				}

				.testimonial-footer {
					display: flex;
					justify-content: space-between;

					.testimonial-author {
						font-size: 14px;
						line-height: 17px;
						color: #aaa;
					}
				}
			}
		}
		
		.cta-btn-wrapper {
			margin: 100px 0;
			display: flex;
			justify-content: center;
			gap: 50px;

			a:nth-child(1) {
				background-color: #f8f8f8;
			}
		}
	}
}

// Hero screenshot.
#hero-screenshot {
	.container {
		margin-top: 100px;
		padding: 100px 20px;

		.hero-screenshot-wrapper {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			gap: 50px;

			h2 {
				font-weight: 700;
				font-size: 32px;
				line-height: 38px;
				color: var(--title-text);
			}

			p {
				font-size: 18px;
				line-height: 28px;
			}
		}
	}
}

// Simple screenshots.
#simple-screenshots {
	.container {
		margin-top: 100px;
		padding: 0 20px;

		.simple-screenshot-wrapper {
			display: flex;
			flex-direction: row;
			gap: 50px;

			img {
				max-width: 100%;
			}
		}
	}
}

// Secondary features.
#secondary-features {
	.container {
		margin-top: 100px;
		padding: 0 20px 100px 20px;

		.title-text {
			font-weight: 700;
			font-size: 24px;
			line-height: 36px;
			text-align: center;
			color: var(--title-text);
			margin-top: 100px;
		}

		.sub-text {
			font-size: 18px;
			line-height: 22px;
			text-align: center;
			margin-top: 15px;

			a {
				color: var(--link-text);
			}
		}

		.features {
			.feature {
				margin-top: 100px;
				border-bottom: none;
			}

			.feature:nth-child(1) {
				border-left: none;

				.feature-content {
					margin: 0 auto 0 0;
				}
			}

			.feature:nth-child(3) {
				.feature-content {
					margin: 0 0 0 auto;
				}
			}
		}
	}
}

// General call to action styles.
.cta-btn-wrapper {
	display: flex;
	justify-content: space-between;
	margin: 40px 0 50px 0;

	.cta-btn {
		display: inline-block;
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		text-align: center;
		background-color: #fff;
		border: 1px solid #ddd;
		color: var(--secondary-text);
		border-radius: 3px;
		padding: 20px 85px;
	}

	.primary-action {
		background-color: var(--highlight);
		border: 1px solid rgba(0, 0, 0, 0.2);
		color: #fff;
		padding: 20px 58px;
		transition: all .1s ease-in-out;

		&:hover {
			background-color: var(--highlight-hover);
		}
	}
}

// General features styles.
.features {
	display: grid;
	grid-template-columns: 6fr 7fr 6fr;

	.feature {
		line-height: 24px;
		border: var(--features-border);
		border-top: none;
		border-right: none;

		.feature-content {
			max-width: 250px;
			text-align: center;
			margin: 0 auto;

			img {
				width: 48px;
				height: 48px;
			}

			h3 {
				font-weight: 700;
				font-size: 24px;
				line-height: 30px;
				color: var(--title-text);
				margin-top: 13px;
				//max-width: 230px;
				//background-color: red;
				//margin:0 auto;
			}

			p {
				margin-top: 18px;
				margin-bottom: 0;
			}
		}
	}
}

@media (max-width: 1050px) {
	section#simple-screenshots .container {
		.simple-screenshot-wrapper {
			flex-direction: column;
			align-items: center;
		}
	}
}

@media (max-width: 900px) {
	section#large-features .container {
		.features {
			grid-template-columns: 1fr 1fr;

			.feature {
				.feature-content {
					margin: 0 auto;
					padding-bottom: 50px;
					padding-top: 0;
				}
			}

			.feature:nth-child(3), .feature:nth-child(4), .feature:nth-child(5), .feature:nth-child(6) {
				.feature-content {
					padding-top: 50px;
				}
			}
			.feature:nth-child(5), .feature:nth-child(6) {
				.feature-content {
					padding-bottom: 0;
				}
			}
			.feature:nth-child(2n + 3) {
				border-left: none;
			}
			.feature:nth-child(4) {
				border-left: var(--features-border);
				border-bottom: var(--features-border);
			}
		}
	}

	section#testimonials .container {
		.testimonials-wrapper {
			gap: 25px;
		}
	}

	section#hero-screenshot .container {
		.hero-screenshot-wrapper {
			flex-direction: column;
			align-items: center;
			gap: 70px;
			padding: 0 80px;
		}
	}

	section#secondary-features .container {
		.features {
			grid-template-columns: 1fr;

			.feature {
				border-left: none;
				border-right: none;
				border-bottom: var(--features-border);

				.feature-content {
					max-width: 450px;
					padding-bottom: 50px;
				}
			}

			.feature:nth-child(1), .feature:nth-child(2), .feature:nth-child(3) {
				margin-top: 50px;

				.feature-content {
					padding-top: 0;
					padding-bottom: 50px;
					margin: 0 auto;
				}
			}
		}
	}
}

@media (max-width: 850px) {
	section#testimonials .container {
		.testimonials-wrapper {
			flex-direction: column;
			padding: 0 50px;
		}
	}
}

@media (max-width: 700px) {
	section#header {
		.cta-btn-wrapper {
			flex-direction: column;
			gap: 1rem;
		}

		.video .play-icon {
			max-width: 15%;
		}
	}

	section#testimonials .container {
		.cta-btn-wrapper {
			flex-direction: column;
			gap: 1rem;
		}

		.testimonials-wrapper {
			padding: 0;
		}
	}

	section#large-features .container {
		margin-top: 350px;

		.features {
			grid-template-columns: 1fr;

			.feature {
				border-left: none;
				border-right: none;
				border-bottom: var(--features-border);

				.feature-content {
					max-width: 350px;
					margin: 0 auto;
					padding-bottom: 50px;
					padding-top: 0;
				}
			}

			.feature:nth-child(2), .feature:nth-child(4), .feature:nth-child(5), .feature:nth-child(6) {
				.feature-content {
					padding-top: 50px;
					padding-bottom: 50px;
					//background-color: pink;
				}
			}
			.feature:nth-child(6) {
				border-bottom: none;

				.feature-content {
					padding-bottom: 0;
				}
			}
			.feature:nth-child(4) {
				border-left: none;
			}
		}
	}

	section#hero-screenshot .container {
		.hero-screenshot-wrapper {
			padding: 0 20px;
		}
	}

	section#secondary-features .container {
		.features {
			.feature {
				.feature-content {
					max-width: 350px;
				}
			}
		}
	}
}